<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>CST 10 Portfolios</title>
<link rel="icon" type="image/png" href="favicon.ico">
<style>
body {
    background-color: grey;
    color: white;
    margin: 50px;
    font-family: Verdana;
}

div {
	padding: 50px;
	background-color: black;
	box-shadow: 5px 10px lightgrey;
}

a {
    color: yellow;
}

</style>
<script src="/w/script.js"></script>
</head>
<body>
<div>
<h1 id="self">CST 10 Portfolios - Semester 2</h1>
<ul>
    <li>Available soon</li>
    <!--li><a href='kam' target='_blank'>Kam</a></li-->
</ul>
</div>
</body>
</html>